fastapi
uvicorn
bertopic
sentence-transformers
torch
pandas
spacy
scikit-learn
psycopg2-binary
pymongo
motor  
mlflow
starlette-prometheus
pytest
requests
#googletrans==4.0.0rc1
#deep-translator
python-dotenv
beautifulsoup4
#emoji
auth
nltk
httpx
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
python-multipart
streamlit
